# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: [self-hosted]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: '3.7' 
    - name: Display Python version
      run: |
        python3 -c "import sys; print(sys.version)"
    - name: Update PIP
      run: |
        python3 -m pip install --upgrade pip
    - name: Run code
      run: |
        python3 PrincessPaperplane/paperbot.py -test
